@model KanyeWisdomViewModel
@{
    ViewData["Title"] = "Index";
}
<div class="center">    
    <img class="kanye-image" src="@String.Format("data:image/png;base64,{0}", Model.DisplayString)" />
</div>

<div class="center">
    <blockquote class="text-center">@Model.WisdomText</blockquote>
</div>

<div class="center">
    <input type="button" value="More Wisdom" onclick="location.href='@Url.Action("Index", "Kanye")'" />
</div>